services:
 postgres:
  image: postgres:16-alpine
  container_name: webstudio-postgres
  environment:
<<<<<<< HEAD
   - POSTGRES_USER=${POSTGRES_USER}
   - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
   - POSTGRES_DB= ${POSTGRES_DB}
=======
   - POSTGRES_USER=webstudio
   - POSTGRES_PASSWORD=tg66ZoOnBAxPM1HNFK
   - POSTGRES_DB=webstudio
>>>>>>> cd003351c46aae6f6ca1996bdfab7e789e706d2b
  volumes:
   - postgres_data:/var/lib/postgresql/data
  ports:
   - "5432:5432"
  restart: always
  healthcheck:
<<<<<<< HEAD
   test: ["CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"]
=======
   test: ["CMD-SHELL", "pg_isready -U webstudio -d webstudio"]
>>>>>>> cd003351c46aae6f6ca1996bdfab7e789e706d2b
   interval: 10s
   timeout: 5s
   retries: 5

 webstudio:
  build: .
  container_name: webstudio-builder
<<<<<<< HEAD
=======
  env_file:
    - apps/builder/.env
>>>>>>> cd003351c46aae6f6ca1996bdfab7e789e706d2b
  ports:
   - "3000:3000"
  expose:
   - "3000"
  depends_on:
   postgres:
    condition: service_healthy
  restart: always
<<<<<<< HEAD
  environment:
      DATABASE_URL: ${DATABASE_URL}
      DIRECT_URL: ${DIRECT_URL}
      APP_URL: ${APP_URL}
      PUBLIC_URL: ${PUBLIC_URL}
      DEV_LOGIN: ${DEV_LOGIN}
      AUTH_SECRET: ${AUTH_SECRET}
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      POSTGREST_API_KEY: ${POSTGREST_API_KEY}
      FEATURES: ${FEATURES}
      USER_PLAN: ${USER_PLAN}
      MAX_ASSETS_PER_PROJECT: ${MAX_ASSETS_PER_PROJECT}
      MAX_UPLOAD_SIZE: ${MAX_UPLOAD_SIZE}
      PUBLISHER_HOST: ${wstd.io}
      PUBLISHER_ENDPOINT: ${PUBLISHER_ENDPOINT}
      # PUBLISHER_TOKEN: ${PUBLISHER_TOKEN}
      BUILD_ORIGIN: ${BUILD_ORIGIN}
=======

>>>>>>> cd003351c46aae6f6ca1996bdfab7e789e706d2b
 postgrest:
  image: postgrest/postgrest:v12.2.0
  container_name: webstudio-postgrest
  depends_on:
    postgres:
      condition: service_healthy
  restart: always
  environment:
<<<<<<< HEAD
      PGRST_DB_URI: ${PGRST_DB_URI}
      PGRST_DB_SCHEMAS: public
      PGRST_DB_ANON_ROLE: ${PGRST_DB_ANON_ROLE}
      PGRST_JWT_SECRET: ${PGRST_JWT_SECRET}
      PGRST_DB_USE_LEGACY_GUCS: "false"
      PGRST_APP_SETTINGS_JWT_SECRET: ${PGRST_APP_SETTINGS_JWT_SECRET}
      PGRST_DB_POOL: "10"
      PGRST_DB_POOL_ACQUISITION_TIMEOUT: "10"
=======
    PGRST_DB_URI: postgresql://webstudio:tg66ZoOnBAxPM1HNFK@webstudio-postgres:5432/webstudio
    PGRST_DB_SCHEMAS: public
    PGRST_DB_ANON_ROLE: webstudio
    PGRST_JWT_SECRET: aaHkCf42sHsVh2wFrua7JvjTnaPLc2Zt0kJ2GJnrbJPqJRrm9t
    PGRST_DB_USE_LEGACY_GUCS: "false"
    PGRST_APP_SETTINGS_JWT_SECRET: aaHkCf42sHsVh2wFrua7JvjTnaPLc2Zt0kJ2GJnrbJPqJRrm9t
    PGRST_DB_POOL: "10"
    PGRST_DB_POOL_ACQUISITION_TIMEOUT: "10"
  ports:
    - "3001:3000"
>>>>>>> cd003351c46aae6f6ca1996bdfab7e789e706d2b
  healthcheck:
    test: [ "CMD-SHELL", "wget -q --spider http://localhost:3000/ || exit 1" ]
    interval: 10s
    timeout: 5s
    retries: 3
    start_period: 10s
<<<<<<< HEAD
  ports:
    - "3001:3000"
=======
>>>>>>> cd003351c46aae6f6ca1996bdfab7e789e706d2b

volumes:
 postgres_data: