services:
  
  webstudio:
    build: .
    container_name: webstudio-builder
    restart: always
    environment:
      DEPLOYMENT_ENVIRONMENT: '${DEPLOYMENT_ENVIRONMENT}'
      DEPLOYMENT_URL: '${DEPLOYMENT_URL}'
      DATABASE_URL: '${DATABASE_URL}'
      DIRECT_URL: '${DIRECT_URL}'
      GOOGLE_CLIENT_ID: '${GOOGLE_CLIENT_ID}'
      GOOGLE_CLIENT_SECRET: '${GOOGLE_CLIENT_SECRET}'
      POSTGREST_API_KEY: '${POSTGREST_API_KEY}'
      POSTGREST_URL: '${POSTGREST_URL}'
      FEATURES: '${FEATURES}'
      USER_PLAN: '${USER_PLAN}'
      MAX_ASSETS_PER_PROJECT: '${MAX_ASSETS_PER_PROJECT}'
      MAX_UPLOAD_SIZE: '${MAX_UPLOAD_SIZE}'
      AUTH_SECRET: '${AUTH_SECRET}'
    ports:
      - '3001:3001'

